body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    overflow: hidden;
}

.drum-kit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80vw;
    height: 80vh;
    position: relative;
    z-index: 1;
}

.key {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.2s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
.key:active {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.key-letter {
    font-size: 2rem;
    font-weight: bold;
}

.key-name {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.2rem;
}

.drum-kit-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(5px);
    z-index: -1;
}

.key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(135, 126, 126, 0.725);
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.2s;
    width: 150px;
    height: 150px;
    text-align: center;
    box-shadow: 0 38px 56px rgba(0, 0, 0, 0.3);
}

.key-letter {
    font-size: 2rem;
    font-weight: bold;
}

.key-name {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.2rem;
}

.key:active {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.4);
}